<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--<link type="text/css" rel="stylesheet" href="../static/css/style.css" />-->
  <!--<link href="../static/css/style.css" rel="stylesheet" />-->
  <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" />
  <link type="text/css" rel="stylesheet" href="../static/css/error.css" />
  <title>Forum-Error</title>
</head>

<body style="background-color: lightgrey">
  <center>
    <a href="/"><img src="../static/assets/logo.png" alt="01F-logo" width="50" height="50" /></a>
    <br />
    <br />
    <br />
    <br />
    <header class="header"></header>

    <section class="section">
      <br />
      <br />
      <br />
      <br />
      <br />
      <div class="container">
        <div class="posts">
          <h1 style="text-align: center; color:darkblue">
            <big> 😥 Oh no!!!<span> {{ .Warn }}</span> </big>
          </h1>
        </div>
        <br />
        <br />
        <div class="container">
          <div class="forum">
            <h1 style="text-align: center; color: blue">
              <a href="/"><big><strong> Back to FORUM Homepage </strong></big></a>
            </h1>
          </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </section>
  </center>
</body>
<footer style="background-color: lightgrey">
  <center>
    <img id="footerimg" src="../static/assets/01Founderscrop2.png" alt="01founders" style="width: 15%" />
  </center>
</footer>

</html>